# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VSCode settings
.vscode/

# word files
*.docx
